
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <!--span class="intro-text">{{ content }}</span-->
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
            </a>
            <h5>&nbsp;</h5>
            <p><span class="jkw">SoftwareDeveloper </span>&lt;L<span class="jkw"> extends</span> <span class="blue">Java</span> &amp; <span class="blue">Php</span>&gt; <span class="jkw">extends</span> <span class="blue">HumanBeing</span> <span class="jkw">implements</span> <span class="blue1">SoftwareEngineer</span></p>
          </div>
        </div>
        <!--div class="row">
          <h6>&nbsp;</h6>
          <div class="col-md-10 col-md-offset-1">
          <p><span class="jkw">SoftwareDeveloper</span>&lt;L <span class="jkw">extends</span> Java &amp; Php&gt; <span class="jkw">extends</span> HumanBeing <span class="jkw">implements</span> SoftwareEngineer</p>
          </div>
        </div-->
    </div>
  </div>
</header>

<!-- Intro End -->
